
{% extends "adminlte/base.html" %}
{% load static %}

{% block extra_head %}
  <style>
    .dropdown-toggle .fa-caret-down {
      transition: all 0.3s;
      transform: rotate(0deg);
    }
    
    .dropdown.show .fa-caret-down {
      transform: rotate(180deg);
    }
  </style>
{% endblock extra_head %}

{% block content %}

  <div class="container-fluid">
    <div class="alert alert-primary fw600 rounded-0 border-0 pb-3" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-info-circle me-2"
        viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
      </svg>
      CSU Perfomance Appraisal System - <u>Click here for our latest updates</u>. We are doing our best to make CSU the spearhead of the future. Thank you for
      your patience and support.
    </div>
  </div>

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">CSU Perfomance Appraisal System</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">IPCR - {{rank}}</li>
          </ol>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-8">
          <div class="pb-2">
            <form id="eval-form">
              <div class="form-row">
                <div class="col">
                  <select class="form-control" id="personnel" name="personnel" required>
                    <option value="" selected>Select personnel to rate...</option>
                    {% for personnel in all_personnel %}
                      <option value="{{ personnel.id }}">{{ personnel.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col">
                  <select class="form-control" id="year" name="year" required>
                    <option value="" selected>Select year...</option>
                    {% for year in years %}
                      <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col">
                  <select class="form-control" id="period" name="period" required>
                    <option value="" selected>Select period...</option>
                      <option value="Jan-Jun">January to June</option>
                      <option value="Jul-Dec">July to December</option>
                  </select>
                </div>
                <div class="col">
                  <button class="btn btn-primary" type="button" onclick="redirectToEval(document.getElementById('personnel').value, document.getElementById('year').value, document.getElementById('period').value)">Rate</button>
                  <button class="btn btn-primary" type="button" onclick="redirectToView(document.getElementById('personnel').value, document.getElementById('year').value, document.getElementById('period').value)">View</button>
                  <input type="hidden" id="personnel_id" name="personnel_id" value="">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="pb-2">

            <form id="filter-form">
              <div class="form-row">
                <div class="col">
                  <select class="form-control" id="rank" name="rank" required>
                    <option value="all_ipcr">All</option>
                    {% for r in ranks %}
                      {%if r == rank%}
                      <option value="{{ r.slug }}" selected>{{ r.name }}</option>
                      {%else%}
                      <option value="{{ r.slug }}">{{ r.name }}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                </div>
                <div class="col">
                  <button class="btn btn-primary" type="button" onclick="redirectToFilterView()">Filter</button>
                  <input type="hidden" id="rank_slug" name="rank_slug" value="">
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container"> 
    {% if not personnel_list %} 
		<div class="col-12">There are currently no active IPCRs.
		</div> 
		{% else %}
		<div class="row g-2">
			{% for personnel in personnel_list %}
			<div class="col mb-3">
        <div class="card mb-3 p-2 h-100">
          <div class="row g-0">
            <div class="col-md-12 p-3 text-center">
              {% if personnel.avatar %} 
              <img class="rounded-circle border" alt="Rounded Image" width="150" height="150" src="{{ personnel.avatar.url }}" alt="{{ image.image.alt_text }}"> 
              {% else %}
              <img class="rounded-circle border" alt="Rounded Image" width="150" height="150" src="{% static 'account/default-profile.jpg' %}" alt="{{ image.image.alt_text }}"> 
              {% endif %}
              <div class="card-body">
                <a class="h6 text-success text-decoration-none" href="{%url 'pasundayag:personnel-ipcr-list' personnel.id %}">{{ personnel.name|slice:":50" }}
                </a>
                <p class="card-text">
                  <small class="text-muted">{{personnel.rank}}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
    	</div>
      {% endfor %}
    </div>

      {% endif %}
      {% if personnel_list.has_other_pages %}
            <nav aria-label="Page navigation container wow fadeInUp"></nav>
            <ul class="pagination justify-content-center wow fadeInUp py-3">
                {% if personnel_list.has_previous %}
                <li><a href="?page={{ personnel_list.previous_page_number }}"
                        class="btn btn-primary">&laquo; Prev </a></li>
                {% endif %}
                {% if personnel_list.has_next %}
                <li><a href="?page={{ personnel_list.next_page_number }}" class="btn btn-primary">
                        Next &raquo;</a></li>
                {% endif %}
            </ul>
            </nav>
          </div>
        {% endif %}       
            
        </div>
      </div>
    </div>
  </section>
<script>

  function redirectToFilterView(rankSlug) {
    var rankSlug = document.getElementById('rank').value;
    document.getElementById('rank_slug').value = rankSlug;
    var form = document.getElementById('filter-form');
    var url;
    if (rankSlug == 'all_ipcr') {
        url = "/ipcr-list";
    } else {
        url = "/rank-list/" + rankSlug;
    }
    window.location.href = url;
  }

  function redirectToEval() {
    var personnelId = document.getElementById('personnel').value;
    var year = document.getElementById('year').value;
    var period = document.getElementById('period').value;
    document.getElementById('personnel_id').value = personnelId;
    var form = document.getElementById('eval-form');
    var url = "/rate-personnel/" + personnelId + "-" + year + "-" + period;
    window.location.href = url;
  }
  
  function redirectToView() {
    var personnelId = document.getElementById('personnel').value;
    var year = document.getElementById('year').value;
    var period = document.getElementById('period').value;
    document.getElementById('personnel_id').value = personnelId;
    var form = document.getElementById('eval-form');
    var url = "/ipcr-detail-rating/" + personnelId + "-" + year + "-" + period;
    window.location.href = url;
  }
</script>
{% endblock %}