{% extends "adminlte/base.html" %}
{% load static %}
{% block extra_head %}
<style>
  th {
    text-align: center;
    min-height: 50;
  }
  td {
    text-align: left;
  }
  
</style>
{% endblock extra_head %}

{% block stylesheet %}{% static 'pasundayag/css/pasundayag.css' %}{% endblock %}
{% block title %}
{% if ipcr %}{{ ipcr.title }}{% else %}IPCR{% endif %}
{% endblock %}
{% block content %}
  <div class="container-fluid pb-5">
    {% if ipcr == None %}
    <small><a href="{% url 'pasundayag:ipcr-list' %}">IPCR </a> >  {{personnel.rank}} > {{personnel.name}}</small>
    <h1 class="h1 font-weight-bold">Individual Performance and Commitment Review</h1>
    <div class="col-12">There are currently no active IPCR for <strong>{{period}}</strong> of the year <strong>{{year}}</strong> for <strong>{{personnel.name}}</strong>.
    </div> 
    {% else %}
    <small><a href="{% url 'pasundayag:ipcr-list' %}">IPCR </a> >  {{ipcr.personnel.rank}} > {{ipcr.personnel.name}}</small>
    <h1 class="h1 font-weight-bold">Individual Performance and Commitment Review</h1>
    <div class="row border">
      <div class="col-lg-3 text-center pt-3 pb-3">
        {% if ipcr.personnel.avatar %} 
          <img class="rounded-circle border" alt="Rounded Image" width="160" height="160" src="{{ ipcr.personnel.avatar.url }}" alt="{{ image.image.alt_text }}"> 
        {% else %}
          <img class="rounded-circle border" alt="Rounded Image" width="160" height="160" src="{% static 'account/default-profile.jpg' %}" alt="{{ image.image.alt_text }}"> 
        {% endif %} 
      </div>
      <div class="col-lg-4 text-center pt-5 text-start">
        <h1>{{ipcr.personnel.name}}</h2>
        <h4>{{ipcr.personnel.rank}} - {{ipcr.year}} ({{ipcr.period}})</h4>
        <small>({{ipcr.ipcr_type}})</small>
      </div>
      <div class="col-lg-5 text-center pt-4 px-3 border">
        <div class="h1 text-success">{{ipcr.final_numerical_rating|floatformat:2}} ({{ipcr.final_numerical_percent}}%)</div>
        <div class="h4 text-success">{{ipcr.final_adjectival_rating}}</div>
        {% if prev_ipcr %}
          {% if ipcr.final_numerical_percent  < prev_ipcr.final_numerical_percent %}
          <p class="text-danger">({{ diff }}% 
            <span><i class="fas fa-caret-down"></i></span> than previous IPCR rating)
          </p>
          {%elif ipcr.final_numerical_percent  > prev_ipcr.final_numerical_percent%}
          <p class="text-success">({{ diff }}% 
            <span><i class="fas fa-caret-up"></i></span> than previous IPCR rating)
          </p>
          {%elif ipcr.final_numerical_percent  == prev_ipcr.final_numerical_percent%}
          <p class="text-success">(
            <span></span> No changes since the previous IPCR rating)
          </p>
          {%endif%}
        {% endif %}
        <div class="py-2">
          <h3>IPCR Final Rating</h3>
          <a href="{% url 'pasundayag:ipcr-detail-analytics' personnel.id %}"><small>(View Personnel Analytics)</small></a>
        </div>
      </div>
    </div>  

    <div class="row py-5">
      <form id="eval-form">
        <div class="form-row">
          <input type="hidden" class="form-control" id="personnel" name="personnel" value="{{ipcr.personnel.id}}"/>
          <div class="col">
            <select class="form-control" id="year" name="year" required>
              <option value="" selected>Please select year...</option>
              {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col">
            <select class="form-control" id="period" name="period" required>
              <option value="" selected>Please select period...</option>
                <option value="Jan-Jun">January to June</option>
                <option value="Jul-Dec">July to December</option>
            </select>
          </div>
          <div class="col">
            <button class="btn btn-primary" type="button" onclick="redirectToView(document.getElementById('personnel').value, document.getElementById('year').value, document.getElementById('period').value)">Display</button>
            <input type="hidden" id="personnel_id" name="personnel_id" value="">
          </div>
        </div>
      </form>
    </div>

    <table data-toggle="table" class="table-bordered">
      <thead>
        <tr>
          <th scope="col" rowspan="2">MFO/PAP</th>
          <th scope="col" rowspan="2">SUCCESS INDICATORS (Targets + Measures) </th>
          <th scope="col" rowspan="2">Actual Accomplishments</th>
          <th scope="col" colspan="4">Rating</th>
          <th scope="col" rowspan="2">Remarks</th>
        </tr>
        <tr>
          <th scope="col" width="4%">Q</th>
          <th scope="col" width="4%">E</th>
          <th scope="col" width="4%">T</th>
          <th scope="col" width="4%">A</th>
        </tr>
        <tr>
      </thead>
      <tbody>
        <!-- Strategic Functions -->
        <tr class="font-weight-bold">
          <td>1 Strategic Functions (30%)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>1.1 Percentage of graduates (2 years prior) that are enrolled </td>
          <td>60% of graduates (2 years prior) that are employed) </td>
          <td>35% were employed</td>
          <td id="stra_q1" data-pk="{{ipcr.pk}}"contentEditable="true" onBlur="saveData(this, {{ipcr.id}})">{{ipcr.stra_q1|floatformat:2}}</td>
          <td id="stra_e1" data-pk="{{ipcr.pk}}"contentEditable="true" onBlur="saveData(this, {{ipcr.id}})">{{ipcr.stra_e1|floatformat:2}}</td>
          <td id="stra_t1" data-pk="{{ipcr.pk}}"contentEditable="true" onBlur="saveData(this, {{ipcr.id}})">{{ipcr.stra_t1|floatformat:2}}</td>
          <td>{{ipcr.stra_a1|floatformat:2}}</td>
          <td>2nd semester, AY 2019-2020</td>
        </tr>
        <tr>
          <td>1.2 Percentage of undergraduate student population enrolled in CHED-ldentlfied and RDC-ldentifled priority
            programs.</td>
          <td>50% of undergraduate student population enrolled in CHED­identified and RDC-identified priority programs
          </td>
          <td>100% of the undergraduate student population enrolled In CHED-identlfied and RDC­ldentifled priority
          </td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.stra_q2|floatformat:2}}</td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.stra_e2|floatformat:2}}</td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.stra_t2|floatformat:2}}</td>
          <td >{{ipcr.stra_a2|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>1.3 Percentage of graduate students enrolled in research degree programs</td>
          <td>60% of graduate students enrolled in research degree programs </td>
          <td>100% -- part of the MSIT curriculum Is MSIT 199 (Thesis) </td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.stra_q3|floatformat:2}}</td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.stra_e3|floatformat:2}}</td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.stra_t3|floatformat:2}}</td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.stra_a3|floatformat:2}}</td>
          <td>2nd semester, AY 2019-2020</td>
        </tr>
        <tr>
          <td height="50"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="bg-secondary">{{ipcr.stra_total}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="font-weight-bold">2 CORE FUNCTIONS (60%) </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="font-weight-bold">2.1 Academic </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2.1.1 Presentation of the course syllabus </td>
          <td>Presented/discussed the course syllabus for all subject load assignments </td>
          <td>2/2 presented </td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_q1|floatformat:2}}</td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e1|floatformat:2}}</td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_t1|floatformat:2}}</td>
          <td>{{ipcr.core_a1|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>2.1.2 Prepares Learning Materials </td>
          <td>No. of teaching learning activities (TLAs) conducted incorporating the
            21st century skills (6 C's: Character, Citizenship, Collaboration, Communication, Creativity, Critical
            Thinking)
            (Target: 60% of the total teaching load)</td>
          <td>Conducted 4 TLAs </td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e2|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a2|floatformat:2}}</td>
          <td>Lecture, Guided Exercise,
            Re adlng Assignment, Oral
            Recitation </td>
        </tr>
        <tr>
          <td></td>
          <td>No. of learning materials relevant to the subject matter
            incorporating the 21st century skills (6 C's: Character, Citizenship, Collaboration, Communication,
            Creativity, Critical Thinking)
            (Target: 60% of the total teaching load) </td>
          <td>6 learning materials </td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e3|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a3|floatformat:2}}</td>
          <td> reference books; 2 sites; 6 learning materials (design, SQL, View, Pasundayagd Proc,
            Triggers, and Data Migration)</td>
        </tr>
        <tr>
          <td>2 .1. 3 Monitoring students' learning progress and achievement of learning outcomes </td>
          <td>No. of assessment processes conducted (2 per subject) </td>
          <td>9 assesments conducted </td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e4|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a4|floatformat:2}}</td>
          <td>3 Written Exercises, 4 Practical Exercises, Project, Exam</td>
        </tr>
        <tr>
          <td>2 .1.4 PES Students' Rating </td>
          <td>[23, 25) 5 </td>
          <td></td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_q1|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a5|floatformat:2}}</td>
          <td>2nd Semester, AY 2019-2020</td>
        </tr>
        <tr>
          <td></td>
          <td>[22, 23) 4 </td>
          <td>22.677 </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>[20, 22) : 3 </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>[19, 20) 2 </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Below 19 : 1 </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>No. of thesis / dissertation advisees who defended on time
            Target: Number of Students enrolled in thesis (Individual or by
            group) divided by the No. of faculty members In the Program </td>
          <td>5 out of 5 </td>
          <td></td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e6|floatformat:2}}</td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_t1|floatformat:2}}</td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a6|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td height="50"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="bg-secondary">{{ipcr.core_acad_total}}</td>
          <td></td>
        </tr>

        <tr>
          <td class="font-weight-bold">2.2 Improving Research Productivity </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2.2.1 Publishes papers from completed research In reputable or high-Impact journals </td>
          <td># of published research papers (within 3 years) </td>
          <td>Not mandatory for Instructor-Assistant Professor Rank </td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e7|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e7|floatformat:2}}</td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a7|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>2.2.2 Presents papers from completed research </td>
          <td># of presented research papers </td>
          <td>Not mandatory for Instructor-Assistant Professor Rank</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e8|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a8|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>2.2.3 Submits Inventions/Innovations for patenting</td>
          <td># of research outputs for patenting (within 3 years) </td>
          <td>Not Applicable </td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e9|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a9|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>2.2.3 Generates research funding </td>
          <td>Amount of research funding generated </td>
          <td>Not mandatory for instructor-Assistant</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e10|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a10|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>2.2.4 Implements R&D projects/programs </td>
          <td># of R&D projects Implemented as Lead Implementer or co-implementor </td>
          <td>Not mandatory for Instructor-Asslstant</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e11|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a11|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>2.2.5 Submitted paper was cited or utilized </td>
          <td># of papers cited or utilized (within 5 years) </td>
          <td>Not mandatory for Instructor-Assista</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e12|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a12|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td height="50"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="bg-secondary">{{ipcr.core_prod_total}}</td>
          <td></td>
        </tr>

        <tr>
          <td class="font-weight-bold">2.3 Technical Advisory /Extension </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2.3.1 Provides training to clients to equip with technical know-how </td>
          <td># of clients provided with training </td>
          <td>10+ clients trained/facilitated </td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e13|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a13|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>2.3.2 Provides advisory services/technology transfer to Identified cllentele. </td>
          <td>2.3.2 Provides advisory services/technology transfer to Identified cllentele. </td>
          <td>5 clients provided with technical advisory </td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e14|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a14|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>2.3.3 Packages extension project/program proposal aligned with the priority agenda of the government for
            funding </td>
          <td># of extension projects/programs for implementation </td>
          <td>- BFAR.AQUAR
            - ANHS-Extension
            - DSWD-Extenslon</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e15|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a15|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>2.3.4 Extension training program evaluation implemented</td>
          <td>% of trainees evaluating the training course as good or better</td>
          <td>80% of trainees evaluating the training course as good or better </td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_q2|floatformat:2}}</td>
          <td></td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a16|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>% of the trainees evaluated the technical advisory services received as good or better </td>
          <td>100% evaluated the technical advisory services received as good or better</td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_q3|floatformat:2}}</td>
          <td></td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a17|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>2.3.5 Conducts follow-up on the status of the training provided for
            the utilization of the technologies for viable enterprise </td>
          <td>% of trainees who utilized thE! technologies for viable enterprise </td>
          <td>Not Applicable </td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_e16|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a18|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>2.3.6 Generates Funding for the Extension Services </td>
          <td>Amount of Funding generated for extension services </td>
          <td>P 36,000.00 </td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_q4|floatformat:2}}</td>
          <td></td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.core_a19|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td height="50"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="bg-secondary">{{ipcr.core_tech_total}}</td>
          <td></td>
        </tr>

        <tr>
          <td class="font-weight-bold">3 SUPPORT FUNTIONS (10%)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="fw-bold">3.1 Involvement during enrollment</td>
          <td>No. of tasks assigned during enrollment </td>
          <td>2 Task assigned during enrollment</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.supp_e1|floatformat:2}}</td>
          <td></td>
          <td>{{ipcr.supp_a1|floatformat:2}}</td>
          <td>Task Force and MIS related functions</td>
        </tr>
        <tr>
          <td>3.2 Faculty Development </td>
          <td>No. of seminars / trainings/ conference attended </td>
          <td>2 trainings attended [Coursera)</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.supp_e2|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.supp_a2|floatformat:2}}</td>
          <td>Coursera </td>
        </tr>
        <tr>
          <td>3.3 Participation /attendance to functions/ activities </td>
          <td>No. of activities or functions attended </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>3.3.1 Department </td>
          <td></td>
          <td>100% attendance </td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.supp_e3|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.supp_a3|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>3.3.2 College </td>
          <td></td>
          <td>100% attendance </td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.supp_e4|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.supp_a4|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>3.3.3 University </td>
          <td></td>
          <td>100% attendance </td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.supp_e5|floatformat:2}}</td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.supp_a5|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td>3.4 Submission of the required reports or documents to supervisor</td>
          <td>No. of reports submitted </td>
          <td>No. of reports submitted </td>
          <td></td>
          <td></td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.supp_t1|floatformat:2}}</td>
          <td contentEditable="true" onBlur="saveData(this)">{{ipcr.supp_a6|floatformat:2}}</td>
          <td></td>
        </tr>
        <tr>
          <td height="50"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="bg-secondary">{{ipcr.supp_total}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="py-2">
      <button class="btn btn-primary" type="button" onclick="redirectToView(document.getElementById('personnel').value, document.getElementById('year').value, document.getElementById('period').value)">Edit</button>
      <button class="btn btn-danger" type="button" onclick="redirectToView(document.getElementById('personnel').value, document.getElementById('year').value, document.getElementById('period').value)">Delete</button>
      <input type="hidden" id="personnel_id" name="personnel_id" value="">
    </div>
    {% endif %}
    

    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
    <script>
      function redirectToEval() {
        var personnelId = document.getElementById('personnel').value;
        var year = document.getElementById('year').value;
        var period = document.getElementById('period').value;
        document.getElementById('personnel_id').value = personnelId;
        var form = document.getElementById('eval-form');
        form.action = "rate-personnel/" + personnelId + "-" + year + "-" + period;
        form.submit();
      }

      function redirectToView() {
        var personnelId = document.getElementById('personnel').value;
        var year = document.getElementById('year').value;
        var period = document.getElementById('period').value;
        document.getElementById('personnel_id').value = personnelId;
        var form = document.getElementById('eval-form');
        var url = "/ipcr-detail-rating/" + personnelId + "-" + year + "-" + period + "/";
        window.location.href = url;
      }    
    </script>
    <script>
      function saveData(el, ipcr_id) {
        // get the field and value to update
        var field = el.getAttribute("data-field");
        var value = el.innerHTML;
    
        // make the AJAX call to update the IPCR data
        $.ajax({
            url: '/update_ipcr/',
            type: 'POST',
            data: {
                'field': field,
                'value': value,
                'ipcr_id': ipcr_id
            },
            success: function(data) {
                console.log('Data updated successfully');
            }
        });
    }
      </script>
      

    

    {% endblock %}